<footer class="footer reveal">
  <p>
  <span>
    There are countless ingredients that make up the human body and mind,
  </span>
  <span>
    like all the components that make up me as an individual with my own personality.
  </span>
  <span>
    Sure, I have a face and voice to distinguish myself from others,
  </span>
  <span>
    but my thoughts and memories are unique only to me, 
  </span>
  <span>
    and I carry a sense of my own destiny.
  </span>
  <span>Each of those things are just a small part of it.</span>
  <span>I collect information to use in my own way.</span>
  <span>All of that blends to create a mixture that forms me and gives rise to my conscience.</span>
  </p>
  <b> - Ghost In The Shell - </b>
  <br>
  <p style="display:inline">
  <a href="{{ 'about' | relative_url }}" title="About me">About Zenix Huang</a>    <div class="sep">|</div>
  SiteMap
  <div class="sep">|</div>
  Copy Right
  </p>
</footer>
